body {
    font-family: "PT sans", sans-serif;
    position: relative;

}

.navbar-inverse {
    background: rgba(0,0,0,0);
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s;
}

.navbar-inverse .navbar-toggler {
    border-color: rgba(255,255,255,.3);
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255,255,255, 1);
}

.navbar-inverse a {
    color: white;
}

.navbar-inverse a:hover {
    color: #0275d8;
}

.navbar-light a {
    color: #292b2c;
}

.navbar-light a:hover {
    color: #0275d8;
}

.active {
    color: #0275d8 !important;
}

.navbar-inverse button {
    color: white ;
}

.navbar-light button {
    color: #292b2c;
}

.navbar-light .navbar-brand:focus {
    color: #0275d8;
}

.navbar-light   .navbar-brand:focus {
    color: #0275d8;
}

.navbar-light .navbar-brand    {
    color: #0275d8;
}
.navbar-light .navbar-brand {
    color: #0275d8;
}

.navbar-light {
    font-size: 18px;
    padding-top: 0.3rem;
    padding-bottom: 0.25rem;
    background: white;
    color: #0275d8;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.navbar-toggler-right {
    border: none;
    right: .1rem;
}


#home {
    background-color: whitesmoke;
    background-image: url("/portfolio/Images/bgi.jpg");
    background-size: cover;
    background-attachment: fixed;  
    color: white;
    font-weight: bold;
    height: 100vh;
}

.img-thumbnail {
    padding: .09rem;
    background-color: #292b2c;
    border: 1px solid #292b2c;
}

#home ul {
    width: 90vw;
}

.bar {
    border: 0;
    width: 35%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0))
}

#portfolio-header {
    -webkit-box-shadow: 0px 6px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 38px -10px rgba(0,0,0,0.75);
}


#portfolio-grid img{
    -webkit-box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
    height: 216px;
}

#getInTouch {
    color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
}

#submitLink {
    height: 38px !important;
}

.carousel-indicators {
    bottom: -12px;
}


label {
    font-size: 2em;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

.portfolio-box {
  position: relative;
  display: block;
}
  .portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    background: rgba(2, 117, 216, 0.8);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 0 15px;
        font-size: 18px;
        }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1; }
  .portfolio-box:focus {
    outline: none; }

#portfolio-carousel {
        -webkit-box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 33px -3px rgba(0,0,0,0.75);

}

#portfolio-carousel img {
    height: 216px;
}

a:link {
    text-decoration: none;
}

.social-media img {
   height: 3.5vw;
   width: 3.5vw;
}

#contactSection .row {
    background-color: white;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { /*phones portrait*/
    #i {
        margin-top: 25vw;
        width:55vw;
        height: 55vw;
    }
    
    #portfolio-carousel {
        display: block!important;
    }

    h1 {
    font-size: 15vw;
    }

    h2 {
        font-size: 10vw;
    }

    h3 {
        font-size: 7vw;
    }

    h4 {
        font-size: 5vw;
    }

    p {
        font-size: 2vw;
        margin-top: 2vw;
        margin-bottom: 1.5vw;  
    }

    #home ul {
        margin-top: 3vw;
    }

    #home i {
        font-size: 5vw;

    }

    .social-media {
        margin: 2vw auto;
    }

    .social-media img {
       height: 8vw;
       width: 8vw;
       margin-left: 0.7vw;
       margin-right: 0.7vw;
       margin-top: 1.5vw;
       margin-bottom: 2vw;
    }

    #git-black {
        display: inline-block!important;
    }

    #getInTouch {
        text-align: center !important;
        background-color: white;
        color: #0275d8;
        margin: 2vw auto;
    }

    #getInTouch h2 {
        margin-top: 1.7vw;
    }

    .navbar-brand {
        margin-left: 0vw!important;
    }
}

/* Smartphones (landscape)*/
@media only screen and (min-device-width : 481px) and  (max-device-width : 767px){
    .navbar-brand {
        margin-left: 0vw!important;
    }

    #portfolio-carousel {
        display: block!important;
    }

    #home col {
        position: relative;
    }

    #home h1 {
        padding-top: 11vh;
    }

    #i {
        margin-top: 12vh;
        width:55vh;
        height: 55vh;
        float: left;
    }

    h1 {
        font-size: 15vh;
    }

    h2 {
        font-size: 10vh;
    }

    h3 {
        font-size: 7vh;
    }

    h4 {
        font-size: 5vh;
    }

    p {
        font-size: 3vh;
        margin-top: 2vh!important;
    }

    #home ul {
        margin-top: 3vh;
    }

    #home i {
        font-size: 5vh;

    }

    #portfolio-carousel img {
        height:95vh;
    }

    .social-media {
        margin: 2vh auto;
    }

    .social-media img {
       height: 8vh;
       width: 8vh;
       margin-left: 0.7vh;
       margin-right: 0.7vh;
       margin-top: 1.5vh;
       margin-bottom: 2vh;
    }

    #git-black {
        display: inline-block!important;
    }

    #getInTouch {
        text-align: center !important;
        background-color: white;
        color: #0275d8;
        margin: 2vh auto;
    }

    #getInTouch h2 {
        margin-top: 1.7vh;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /*tablets portrait*/
    .navbar-brand {
        margin-left: 0vw!important;
    }

    #portfolio-carousel {
        display: block!important;
    }
    
    #portfolio-carousel img {
        height: 50vh;
    }
    
    #i {
        margin-top: 32vw;
        height: 38vw;
        width: 38vw;
    }

    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 9vw;
    }

    h3 {
        font-size: 6vw;
    }

    h4 {
        font-size: 1.5vw;
    }

    p {
        font-size: 2

        vw;
    }

    #home ul {
        margin-top: 3vw;
    }

    #home i {
        font-size: 4vw;
    }

    .social-media {
        margin: 4vh auto;
    }

    .social-media img {
       height: 8vw;
       width: 8vw;
       padding-top: 1vw;
       padding-bottom: 1vw;
       margin-left: 0.7vw !important;
       margin-right: 0.7vw !important;
    }

    #git-black {
        visibility: visible;
    }

    #getInTouch {
        text-align: center !important;
        background-color: white;
        color: #0275d8;
        margin: 2vw auto;
    }

    #getInTouch h3 {
        margin-top: 1vw;
    }

    #contact {
        display: none;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1223px) {
    
    #portfolio-carousel {
        display: block!important;
    }

    #home col {
        position: relative;
    }

    #home h1 {
        padding-top: 25vh;
    }

    #i {
        margin-top: 20vh;
        width:49vh;
        height: 49vh;
        float: left;
    }

    h1 {
        font-size: 13vh;
    }

    h2 {
        font-size: 8vh;
    }

    h3 {
        font-size: 5vh;
    }

    h4 {
        font-size: 4vh;
    }

    p {
        font-size: 2.8vh;
        margin-top: 1.4vh;
    }

    #home ul {
        margin-top: 3vh;
    }

    #home i {
        font-size: 5vh;

    }

    .social-media {
        margin: 2vh auto;
    }

    .social-media img {
       height: 10vh;
       width: 10vh;
       margin-left: 0.7vh;
       margin-right: 0.7vh;
       margin-top: 1.5vh;
       margin-bottom: 2vh;
    }

    #portfolio-carousel img {
        height: 75vh;
    }

    #git-black {
        display: inline-block!important;
    }

    #getInTouch {
        text-align: center !important;
        background-color: white;
        color: #0275d8;
        margin: 2vh auto;
    }

    #getInTouch h2 {
        margin-top: 1.7vh;
    }

    #contact {
        display: none;
    }
}

@media only screen  and (min-device-width : 1224px) {

    #portfolio-grid {
        display: flex!important;
    }

    #contact {
        display: block!important;
    }

    #i {
        margin-top: 9vh;
        width:40vh;
        height: 40vh;
    }

    h1 {
        font-size: 13vh;
    }

    h2 {
        font-size: 9vh;
    }

    h3 {
        font-size: 7vh;
    }

    h4 {
        font-size: 4vh;
    }

    footer p {
        font-size: 2vh;
        margin-top: 1.4vh;
    }

    #home ul {
        margin-top: 3vh;
    }

    #home i {
        font-size: 5vh;

    }

    #divider {
        display: none;
    }
    
    #getInTouch {
        background-color: #0275d8!important;
        color: white;
        position: relative;
        height: 18vh;
        padding-top: 2.5rem !important;
    }
    
    #getInTouch h2 {
        padding-left: 1.4vh;
    }

    .social-media {
        float: right;
        margin-top: 0.4vh!important;
    }

    .social-media img {
       height: 8vh;
       width: 8vh;
       margin-left: 0.7vh;
       margin-right: 0.7vh;
       margin-top: 1.5vh;
       margin-bottom: 2vh;
    }

    #gmail {
        display: none!important;
    }

    #git-white {
        display: inline-block!important;
    }/*Desktops fullscreen*/
}

@media only screen  and (min-device-width : 1224px) and (max-width: 1003px){

    .navbar-brand {
        margin-left: 0vw!important;
    }

    #portfolio-grid {
        display: flex!important;
    }

    #contact {
        display: block!important;
    }

    #i {
        margin-top: 7vh;
        width:34vh;
        height: 34vh;
    }

    h1 {
        font-size: 12vh;
    }

    h2 {
        font-size: 8vh;
    }

    h3 {
        font-size: 7vh;
    }

    h4 {
        font-size: 4vh;
    }

    footer p {
        font-size: 2vh;
        margin-top: 1.4vh;
    }

    #home ul {
        margin-top: 3vh;
    }

    #home i {
        font-size: 5vh;

    }

    #divider {
        display: none;
    }
    
    #getInTouch {
        background-color: #0275d8!important;
        color: white;
        position: relative;
        height: 18vh;
    }
    
    #getInTouch h2 {
        padding-left: 1.4vh;
        font-size: 7vh;
    }

    .social-media {
        float: right;
        margin-top: 0.4vh!important;
    }

    .social-media img {
       height: 5.5vw;
       width: 5.5vw;
       margin-left: 0.7vh;
       margin-right: 0.7vh;
       margin-top: 1.5vh;
       margin-bottom: 2vh;
    }

    #gmail {
        display: none!important;
    }

    #git-white {
        display: inline-block!important;
    }/*Desktops on resize*/
}